@font-face {
	font-family: 'GothamBook', sans-serif;
	src: url("/fonts/GothamBookRegular.otf") format('otf');
}


@font-face {
	font-family: 'GothamBold', sans-serif;
	src: url('/fonts/GothamBoldRegular.ttf') format('ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'GothamMedium', sans-serif;
	src: url('/fonts/GothamMediumRegular.ttf') format('ttf');
	font-weight: bold;
}

@font-face {
	font-family: 'GothamThin', sans-serif;
	src: url('/fonts/GothamThinRegular.otf') format('ttf');
	font-weight: bold;
}